<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/qr_menu_en1.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new
      Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PFBK24D');</script>
    <!-- End Google Tag Manager -->
    <title>Digital QR Code Menu For Restaurants | QRMenux</title>
    <meta
      name="description"
      content="Reset your menu expenses with Digital QR Code Menu For Restaurants. Digitize your menu and increase customer satisfaction. Keep up with technology with multilingual and multi-currency modules."
    />
    <meta
      property="og:title"
      content="Digital QR Code Menu For Restaurants | QRMenux"
    />
    <meta property="og:url" content="https://qrmenux.com" />
    <meta property="og:image" content="/img/qr_menu_en1.webp" />
    <meta
      property="og:description"
      content="Reset your menu expenses with Digital QR Code Menu For Restaurants. Digitize your menu and increase customer satisfaction. Keep up with technology with multilingual and multi-currency modules."
    />
    <link href="https://qrmenux.com" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
    <link href="https://qrmenux.com/fr" hreflang="fr" rel="alternate" />
    <link href="https://qrmenux.com/es" hreflang="es" rel="alternate" />
  </head>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-PFBK24D"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <body>
    <div class="vh100">
      <header>
        <a href="/">
          <img src="/img/logo.webp" alt="QRMenux" width="100" height="100" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Language <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/">Homepage</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Logout</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Logout</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Language <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/">Homepage</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Multi-Language and Currency Supported QR Code Menu
            </h1>
            <p>
              Modern QR Code Menu for modern restaurants, cafes and hotels.
            </p>

            <ul
              style="display: flex; flex-direction:column; gap:1rem; font-size:1.4rem"
            >
              <li>
                <i class="fa-solid fa-check" style="color: var(--sixth)"></i>
                Multiple Theme Options
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: var(--sixth)"></i>
                Automatic Translation Module
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: var(--sixth)"></i>
                Affordable Monthly Price
              </li>
            </ul>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Example Menu</a>
              <a href="/register" class="last">Try Free!</a>
            </div>

          </div>
          <div class="rightdiv">
            <img
              id="image1"
              src="/img/qr_menu_en1.webp"
              alt="QR Code Menu - Restaurant Menu"
              width="420"
              height="793.33"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu2_tr1.webp"
            alt="Multiple Theme QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Keep Up With Innovation!</h2>
          <p>
            Today, technology plays a significant role in every aspect of our
            lives, including service sectors such as restaurants and cafes.
            Businesses in these sectors are rapidly adopting technological
            innovations to increase customer satisfaction and make their
            operations more efficient. One of these innovations is QR menus. QR
            menus are an innovative technology that helps restaurants and cafes
            digitize their services.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu_en2.webp"
            alt="Multilanguage QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>How Does the QR Code Menu Work?</h2>
          <p>
            The working principle of QR menus is quite simple. First, the
            restaurant or cafe creates its menu in a digital format and we
            display this menu in our application. Then, a QR code is assigned to
            this digital menu. This QR code is presented to customers at the
            physical location of the restaurant or cafe. Customers scan the QR
            code using the camera of their smartphones, and this directs them to
            the digital menu. In this way, customers can view the menu, choose
            their meal, and even place an order.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-3">
      <div class="container">
        <div class="rightdiv">
          <img
            src="/img/qr_menu_en3.webp"
            alt="QR Menu with Social Media Feature"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="leftdiv">
          <h2>Benefits of QR Menus for Restaurants</h2>
          <ul>
            <li style="font-size: 1.3rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Faster and Efficient Service -
              </strong>QR code menus provide customers with quick and easy
              access to the menu. This saves time for both customers and staff.
              Customers can quickly view the menu and decide what to order.
              Also, thanks to QR menus, staff do not have to walk between tables
              to take orders. This not only increases the speed of service but
              also allows staff to focus more on other tasks.
            </li>
            <li style="font-size: 1.3rem; margin-top: 1rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Cost Savings -
              </strong>QR code menus significantly reduce the paper menu
              printing costs of restaurants and cafes. Paper menus may need to
              be constantly reprinted, especially when changes are made to the
              menu. However, since QR menus are digital, changes to the menu can
              be made immediately and inexpensively.
            </li>
            <li style="font-size: 1.3rem; margin-top: 1rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Environmentally Friendly -
              </strong>QR code menus contribute to the environment by reducing
              paper usage. Paper menus have a significant environmental impact,
              both in terms of production and waste. Using QR menus can reduce
              this impact and help restaurants and cafes create an
              environmentally friendly image.
            </li>
            <li style="font-size: 1.3rem; margin-top: 1rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Improving Customer Experience -
              </strong>QR Code menus offer customers a modern and innovative
              experience. Customers appreciate the convenience and speed of
              using technology. In addition, QR menus can offer customers more
              information about the menu. For example, it may include photos of
              food, ingredients, and allergen information.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img
            src="/img/qr_menu_en_dash1.webp"
            alt="Qr Code Menu Dashboard"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Professional Dashboard</h2>
          <p>
            In addition, you can control your QR code menu unlimitedly from the
            panel by customizing it. You can easily customize the products in
            the menu, add images, and write descriptions. Our panel system
            offers the greatest convenience for your business.</p>
        </div>
        <div class="two">
          <img
            src="/img/qr_menu_en_dash2.webp"
            alt="Qr Code Menu Dashboard 2"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Translate With 1 Click</h2>
          <p>
            You can translate your menu to any language you desire with just one
            click from the administration panel. We provide an excellent
            translation experience with the framework we use, which includes
            descriptions and content.</p>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <p>To provide your customers with a modern and enjoyable restaurant
          experience, Try our QR code menu - Restaurant menu for 4 days. No
          credit card information is required for the trial period, and there
          are no advertisements. We have optimized everything for your
          convenience.</p>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Trial Package</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Category</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Item
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Image
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Special Restaurant Page (Include Logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact and Social Media Links
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Integration
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Language - 3 Currency
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Automatic Translate Module
            </li>
          </ul>
          {{#if user}}
            <div class="call">
              <a href="/user/dashboard">Try 4 Day</a>
            </div>
          {{else}}
            <div class="call">
              <a href="/register">Try 4 Day</a>
            </div>
          {{/if}}
        </div>
        <div class="price1">
          <h3>Normal Package</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Category</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Item
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Image
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Special Restaurant Page (Include Logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact and Social Media Links
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Integration
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Language - 3 Currency
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Automatic Translate Module
            </li>
          </ul>
          <div class="pricediv">
            <span>$9 Monthly</span>
          </div>
          <div class="call">
            {{#if user}}
              <div class="call">
                <a
                  href="https://cagatayeren.lemonsqueezy.com/checkout/buy/0fd2bd56-b08b-4a42-97f3-4a83dac1c7bb?embed=1&logo=0&discount=0&dark=1"
                  class="lemonsqueezy-button"
                >Subscribe</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/register">Subscribe</a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="price2">
          <h3>Maxi Package</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Category</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Item
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Image
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Special Restaurant Page (Include Logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact and Social Media Links
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Integration
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Language - 3 Currency
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Automatic Translate Module
            </li>
          </ul>
          <div class="pricediv">
            <span>Inactive for now</span>
          </div>
          <div class="call">
            <a href="/">Subscribe</a>
          </div>
        </div>
      </div>
    </section>

    <a
      aria-label="Contact from whatsapp"
      href="https://wa.me/+905426430505"
      class="float"
      target="_blank"
    >
      <i class="fa-brands fa-2x fa-whatsapp my-float"></i>
    </a>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>