<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/qr_menu_en1.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-1025661586"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'AW-1025661586');
    </script>
    <title>Menú Digital de Código QR para Restaurantes | QRMenux</title>
    <meta
      name="description"
      content="Reinicia tus gastos de menú con el Menú Digital de Código QR - Menú de Restaurante. Digitaliza tu menú y aumenta la satisfacción de los clientes. Mantente al día con la tecnología con módulos multilingües y multi-moneda."
    />
    <meta
      property="og:title"
      content="Menú Digital de Código QR para Restaurantes | QRMenux"
    />
    <meta property="og:url" content="https://qrmenux.com" />
    <meta property="og:image" content="/img/qr_menu_en1.webp" />
    <meta
      property="og:description"
      content="Reinicia tus gastos de menú con el Menú Digital de Código QR - Menú de Restaurante. Digitaliza tu menú y aumenta la satisfacción de los clientes. Mantente al día con la tecnología con módulos multilingües y multi-moneda."
    />
    <link href="https://qrmenux.com/es" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com" hreflang="en" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
    <link href="https://qrmenux.com/fr" hreflang="fr" rel="alternate" />
    <link href="https://qrmenux.com/es" hreflang="es" rel="alternate" />
  </head>
  <body>
    <div class="vh100">
      <header>
        <a href="/">
          <img src="/img/logo.webp" alt="QRMenux" width="100" height="100" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Lenguaje <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/es">Inicio</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Cerrar Sesión</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/es">Inicio</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Cerrar Sesión</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Lenguaje <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/es">Inicio</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Acceso</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/es">Inicio</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Acceso</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Conoce nuestro menú digital con código QR para restaurantes, con
              función de traducción automática de idioma y moneda.
            </h1>
            <p>
              Te ofrecemos un menú de Código QR digital de última generación con
              soporte multilingüe y un módulo de traducción automática. Puedes
              obtener esta solución que ofrecemos para restaurantes, hoteles y
              cafeterías modernas a un precio asequible y con calidad. ¡Di adiós
              a los viejos menús y dale la bienvenida a clientes más satisfechos
              con tu menú de nueva generación!
            </p>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Menú de ejemplo</a>
              <a href="/register" class="last">¡Prueba gratis!</a>
            </div>

          </div>
          <div class="rightdiv">
            <img
              id="image1"
              src="/img/qr_menu_en1.webp"
              alt="QR Code Menu - Restaurant Menu"
              width="420"
              height="793.33"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu2_tr1.webp"
            alt="Multiple Theme QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Múltiples Opciones de Tema</h2>
          <p>
            Con nuestros múltiples temas de menú, puedes cambiar y utilizar
            fácilmente el diseño de menú que desees desde el panel.
            Continuamente añadimos y actualizamos nuevos diseños. Los diseños se
            pueden integrar sin problemas en todos los idiomas y monedas.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu_en2.webp"
            alt="Multilanguage QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Satisfacción del Cliente con Soporte Multilingüe</h2>
          <p>
            Con nuestro moderno menú de código QR, puedes traducir fácilmente a
            otros idiomas con solo un clic, brindando a tus clientes menús de
            aspecto moderno que los satisfacen desde cualquier parte del mundo.
            Tendrás menús visualmente atractivos y modernos con nuestras
            múltiples opciones de tema.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-3">
      <div class="container">
        <div class="rightdiv">
          <img
            src="/img/qr_menu_en3.webp"
            alt="QR Menu with Social Media Feature"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="leftdiv">
          <h2>Redes Sociales y Optimizaciones de Google</h2>
          <p>Puedes permitir fácilmente que tus clientes accedan a tus cuentas
            de redes sociales y a la información de contacto vinculándolas a la
            página de tu menú de restaurante. Además, optimizamos tu negocio con
            integraciones de Google, asegurando que tu menú aparezca en los
            primeros resultados de los motores de búsqueda.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img
            src="/img/qr_menu_en_dash1.webp"
            alt="Qr Code Menu Dashboard"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Panel Profesional</h2>
          <p>
            Además, puedes controlar tu menú de código QR de manera ilimitada
            desde el panel personalizándolo. Puedes personalizar fácilmente los
            productos en el menú, agregar imágenes y escribir descripciones.
            Nuestro sistema de panel ofrece la mayor comodidad para tu negocio.</p>
        </div>
        <div class="two">
          <img
            src="/img/qr_menu_en_dash2.webp"
            alt="Qr Code Menu Dashboard 2"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Traducir con 1 Clic</h2>
          <p>
            Puedes traducir tu menú a cualquier idioma que desees con solo un
            clic desde el panel de administración. Brindamos una excelente
            experiencia de traducción con el marco que utilizamos, que incluye
            descripciones y contenido.</p>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <p>Para brindar a tus clientes una experiencia moderna y agradable en tu
          restaurante, prueba nuestro menú de código QR: el menú de restaurante
          durante 4 días. No se requiere información de tarjeta de crédito
          durante el período de prueba y no hay anuncios. Hemos optimizado todo
          para tu comodidad.</p>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Paquete de Prueba</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Categoría ilimitada</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Artículo ilimitado
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Imagen ilimitada
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Página de restaurante especial (Incluir logotipo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Enlaces de contacto y redes sociales
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Integración de Whatsapp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Idioma - 3 Moneda
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Módulo de traducción automática
            </li>
          </ul>
          {{#if user}}
            <div class="call">
              <a href="/user/dashboard">Prueba 4 días</a>
            </div>
          {{else}}
            <div class="call">
              <a href="/register">Prueba 4 días</a>
            </div>
          {{/if}}
        </div>
        <div class="price1">
          <h3>Paquete Normal</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Categoría ilimitada</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Artículo ilimitado
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Imagen ilimitada
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Página de restaurante especial (Incluir logotipo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Enlaces de contacto y redes sociales
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Integración de Whatsapp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Idioma - 3 Moneda
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Módulo de traducción automática
            </li>
          </ul>
          <div class="pricediv">
            <span>$9 Mensual</span>
          </div>
          <div class="call">
            {{#if user}}
              <div class="call">
                <a
                  href="https://cagatayeren.lemonsqueezy.com/checkout/buy/0fd2bd56-b08b-4a42-97f3-4a83dac1c7bb?embed=1&logo=0&discount=0&dark=1"
                  class="lemonsqueezy-button"
                >Suscribir</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/register">Suscribir</a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="price2">
          <h3>Paquete Maxi</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Categoría ilimitada</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Artículo ilimitado
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Imagen ilimitada
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Página de restaurante especial (Incluir logotipo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Enlaces de contacto y redes sociales
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Integración de Whatsapp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Idioma - 3 Moneda
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Módulo de traducción automática
            </li>
          </ul>
          <div class="pricediv">
            <span>Inactiva por ahora</span>
          </div>
          <div class="call">
            <a href="/">Suscribir</a>
          </div>
        </div>
      </div>
    </section>

    <div class="wrapper">
      <a class="social" target="_blank" href="https://wa.me/+905426430505"><i
          class="fa-brands fa-2x fa-whatsapp"
        ></i></a>
      <a class="social" href="mailto:cagatayeren1898@gmail.com">
        <i class="fa fa-2x fa-envelope"></i></a>
      <a class="close-button"> <i class="fa fa-2x fa-close"></i></a>
    </div>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script>
      var close_button = document.querySelector(".close-button"); var
      social_buttons = document.querySelectorAll(".social");
      close_button.addEventListener("click", () => {
      social_buttons.forEach(function (buttons) {
      buttons.classList.toggle("hide"); }); });
    </script>
    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>