<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/qr_menu_en1.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new
      Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PFBK24D');</script>
    <!-- End Google Tag Manager -->
    <title>Menu QR Code Numérique - Menu du Restaurant | QRMenux</title>
    <meta
      name="description"
      content="Réinitialisez vos dépenses de menu avec le menu QR Code numérique - Menu du restaurant. Numérisez votre menu et augmentez la satisfaction des clients. Restez à la pointe de la technologie avec des modules multilingues et multi-devises."
    />
    <meta
      property="og:title"
      content="Menu QR Code Numérique - Menu du Restaurant | QRMenux"
    />
    <meta property="og:url" content="https://qrmenux.com/fr" />
    <meta property="og:image" content="/img/qr_menu_en1.webp" />
    <meta
      property="og:description"
      content="Réinitialisez vos dépenses de menu avec le menu QR Code numérique - Menu du restaurant. Numérisez votre menu et augmentez la satisfaction des clients. Restez à la pointe de la technologie avec des modules multilingues et multi-devises."
    />
    <link href="https://qrmenux.com/fr" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
    <link href="https://qrmenux.com/fr" hreflang="fr" rel="alternate" />
    <link href="https://qrmenux.com/es" hreflang="es" rel="alternate" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PFBK24D"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="vh100">
      <header>
        <a href="/fr">
          <img src="/img/logo.webp" alt="QRMenux" width="100" height="100" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Langue <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Déconnecter</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Déconnecter</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Langue <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/fr/register">Enregistrer</a></li>
                <li><a href="/fr/login">Connexion</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/fr/register">Enregistrer</a></li>
                <li><a href="/fr/login">Connexion</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Menu QR Code avec prise en charge de plusieurs langues et devises.
            </h1>
            <p>
              Pour les restaurants, les cafés et les hôtels modernes, un menu QR
              Code moderne.
            </p>

            <ul
              style="display: flex; flex-direction:column; gap:1rem; font-size:1.4rem"
            >
              <li>
                <i class="fa-solid fa-check" style="color: var(--sixth)"></i>
                Options de thème multiples
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: var(--sixth)"></i>
                Module de traduction automatique
              </li>
              <li>
                <i class="fa-solid fa-check" style="color: var(--sixth)"></i>
                Prix mensuel abordable
              </li>
            </ul>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Exemple de menu</a>
              <a href="/register" class="last">Essayer gratuitement!</a>
            </div>

          </div>
          <div class="rightdiv">
            <img
              id="image1"
              src="/img/qr_menu_en1.webp"
              alt="QR Code Menu - Restaurant Menu"
              width="420"
              height="793.33"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu2_tr1.webp"
            alt="Multiple Theme QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Continuez à innover!</h2>
          <p>
            Aujourd'hui, la technologie joue un rôle important dans les secteurs
            des services tels que les restaurants et les cafés, comme dans tous
            les domaines de notre vie. Les entreprises de ces secteurs adoptent
            rapidement des innovations technologiques pour accroître la
            satisfaction de la clientèle et rendre leur entreprise plus
            efficace. L'une de ces innovations est les menus QR. Les menus QR
            sont une technologie innovante qui aide les restaurants et les cafés
            à numériser leurs services.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu_en2.webp"
            alt="Multilanguage QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Comment fonctionne le menu QR Code?</h2>
          <p>
            Le principe de fonctionnement des menus QR est assez simple. Tout
            d'abord, le restaurant ou le café crée son menu au format numérique
            et nous affichons ce menu dans notre application. Un QR code est
            alors attribué à ce menu numérique. Ce code QR est présenté aux
            clients à l'emplacement physique du restaurant ou du café. Les
            clients scannent le code QR à l'aide de l'appareil photo de leur
            smartphone, qui les dirige vers le menu numérique. De cette façon,
            les clients peuvent consulter le menu, choisir des aliments et même
            commander.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-3">
      <div class="container">
        <div class="rightdiv">
          <img
            src="/img/qr_menu_en3.webp"
            alt="QR Menu with Social Media Feature"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="leftdiv">
          <h2>Avantages des menus QR pour les restaurants</h2>
          <ul>
            <li style="font-size: 1.3rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Service plus rapide et efficace -
              </strong>Les menus de code QR offrent aux clients un accès rapide
              et facile au menu. Cela fait gagner du temps à la fois aux clients
              et au personnel. Les clients peuvent rapidement consulter le menu
              et décider quoi commander. De plus, grâce aux menus QR, le
              personnel n'a pas à se déplacer entre les tables pour prendre les
              commandes. Cela augmente à la fois la rapidité du service et
              permet au personnel de se concentrer davantage sur d'autres
              tâches.
            </li>
            <li style="font-size: 1.3rem; margin-top: 1rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Économies de coûts -
              </strong>Les menus de code QR réduisent considérablement les coûts
              d'impression des menus papier des restaurants et des cafés. Les
              menus papier peuvent devoir être constamment réimprimés, en
              particulier lorsque des modifications sont apportées au menu.
              Cependant, comme les menus QR sont numériques, les modifications
              du menu peuvent être apportées immédiatement et à peu de frais.
            </li>
            <li style="font-size: 1.3rem; margin-top: 1rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Respectueux de la nature -
              </strong>Les menus de code QR contribuent à l'environnement en
              réduisant l'utilisation de papier. Les menus papier ont un impact
              environnemental important, tant en termes de production que de
              déchets. L'utilisation de menus QR peut réduire cet impact et
              aider les restaurants et les cafés à créer une image respectueuse
              de l'environnement.
            </li>
            <li style="font-size: 1.3rem; margin-top: 1rem;"><strong
                style="font-size:1.4rem  !important; font-weight:bold !important"
              >Améliorer l'expérience client -
              </strong>Les menus QR Code offrent aux clients une expérience
              moderne et innovante. Les clients apprécient la commodité et la
              rapidité d'utilisation de la technologie. De plus, les menus QR
              peuvent offrir aux clients plus d'informations sur le menu. Par
              exemple, il peut inclure des photos d'aliments, d'ingrédients et
              d'informations sur les allergènes.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img
            src="/img/qr_menu_en_dash1.webp"
            alt="Qr Code Menu Dashboard"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Panel Professionnel</h2>
          <p>
            De plus, vous pouvez contrôler votre menu QR code de manière
            illimitée à partir du panneau en le personnalisant. Vous pouvez
            facilement personnaliser les produits du menu, ajouter des images et
            rédiger des descriptions. Notre système de panneau offre la plus
            grande commodité pour votre entreprise.
          </p>
        </div>
        <div class="two">
          <img
            src="/img/qr_menu_en_dash2.webp"
            alt="Qr Code Menu Dashboard 2"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Traduire en 1 Clic</h2>
          <p>
            Vous pouvez traduire votre menu dans n'importe quelle langue que
            vous souhaitez en un seul clic à partir du panneau d'administration.
            Nous offrons une excellente expérience de traduction avec le cadre
            que nous utilisons, qui inclut les descriptions et le contenu.</p>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <p>Pour offrir à vos clients une expérience de restaurant moderne et
          agréable, essayez notre menu QR code - Menu du restaurant pendant 4
          jours. Aucune information de carte de crédit n'est requise pour la
          période d'essai et il n'y a pas de publicités. Nous avons optimisé
          tout pour votre commodité.</p>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Forfait d'essai</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Catégorie illimitée</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Article illimité
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Image illimitée
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Page Spéciale Restaurant (Inclure le logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact et liens vers les réseaux sociaux
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Intégration WhatsApp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 langues - 3 devises
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Module de traduction automatique
            </li>
          </ul>
          {{#if user}}
            <div class="call">
              <a href="/user/dashboard">Essayez 4 jours</a>
            </div>
          {{else}}
            <div class="call">
              <a href="/register">Essayez 4 jours</a>
            </div>
          {{/if}}
        </div>
        <div class="price1">
          <h3>Forfait Normal</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Catégorie illimitée</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Article illimité
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Image illimitée
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Page Spéciale Restaurant (Inclure le logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact et liens vers les réseaux sociaux
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Intégration WhatsApp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 langues - 3 devises
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Module de traduction automatique
            </li>
          </ul>
          <div class="pricediv">
            <span>$9 Mensuel</span>
          </div>
          <div class="call">
            {{#if user}}
              <div class="call">
                <a
                  href="https://cagatayeren.lemonsqueezy.com/checkout/buy/0fd2bd56-b08b-4a42-97f3-4a83dac1c7bb?embed=1&logo=0&discount=0&dark=1"
                  class="lemonsqueezy-button"
                >S'abonner</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/register">S'abonner</a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="price2">
          <h3>Forfait Maxi</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Catégorie illimitée</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Article illimité
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Image illimitée
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Page Spéciale Restaurant (Inclure le logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact et liens vers les réseaux sociaux
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Intégration WhatsApp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 langues - 3 devises
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Module de traduction automatique
            </li>
          </ul>
          <div class="pricediv">
            <span>Inactif pour le moment</span>
          </div>
          <div class="call">
            <a href="/">S'abonner</a>
          </div>
        </div>
      </div>
    </section>

    <a
      aria-label="Contact from whatsapp"
      href="https://wa.me/+905426430505"
      class="float"
      target="_blank"
    >
      <i class="fa-brands fa-2x fa-whatsapp my-float"></i>
    </a>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>