<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/qr_menu_tr1.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-1025661586"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'AW-1025661586');
    </script>
    <title>Dijital QR Kod Restoran Menü | QRMenux</title>
    <meta
      name="description"
      content="QR Kod Menü - Karekod Menü ile menü masraflarınızı sıfırlayın, menünüzü dijitale taşıyım ve müşteri memnuniyetini arttırın. Çoklu dil ve çoklu para birimi modülleri ile teknolojiye ayak uydurun."
    />
    <meta
      property="og:title"
      content="Dijital QR Kod Restoran Menü | QRMenux"
    />
    <meta property="og:url" content="https://qrmenux.com/tr" />
    <meta property="og:image" content="/img/qr_menu_tr1.webp" />
    <meta
      property="og:description"
      content="QR Kod Menü - Karekod Menü ile menü masraflarınızı sıfırlayın, menünüzü dijitale taşıyım ve müşteri memnuniyetini arttırın. Çoklu dil ve çoklu para birimi modülleri ile teknolojiye ayak uydurun."
    />
    <link href="https://qrmenux.com/tr" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com" hreflang="en" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
    <link href="https://qrmenux.com/fr" hreflang="fr" rel="alternate" />
    <link href="https://qrmenux.com/es" hreflang="es" rel="alternate" />
  </head>
  <body>
    <div class="vh100">
      <header>
        <a href="/tr">
          <img src="/img/logo.webp" alt="QRMenux" width="100" height="100" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Dil Seçin <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span>
                        English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/tr">Anasayfa</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Yönetim Paneli</a></li>
                <li><a href="/user/logout">Çıkış Yap</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/tr">Anasayfa</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Yönetim Paneli</a></li>
                <li><a href="/user/logout">Çıkış Yap</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Dil Seçin <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span>
                        English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/tr">Anasayfa</a></li>
                <li><a href="/tr/register">Kayıt Ol</a></li>
                <li><a href="/tr/login">Giriş</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/tr">Anasayfa</a></li>
                <li><a href="/tr/register">Kayıt Ol</a></li>
                <li><a href="/tr/login">Giriş</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Otomatik Dil ve Para Birimi Çeviri Eklentili QR Kod Restoran
              Menümüz ile Tanışın
            </h1>
            <p>
              Sizlere yeni nesil, çoklu dil destekli ve otomatik çeviri modülü
              ile QR kod restoran menümüzü sunuyoruz. Modern restoranlar,
              oteller ve kafeler için sunduğumuz bu çözümü, uygun fiyat ve
              kalite ile sizlere edinebilirsiniz. Eski menülere elveda deyin ve
              yeni nesil menünüz ile daha memnun müşterilere merhaba deyin!
            </p>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Örnek Menü</a>
              <a href="/register" class="last">Ücretsiz Deneyin!</a>
            </div>

          </div>
          <div class="rightdiv">
            <img
              id="image1"
              src="/img/qr_menu_tr1.webp"
              alt="QR Kod Menü - Karekod Menü"
              width="420"
              height="793.33"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu2_tr1.webp"
            alt="Çoklu Tema QR Menü"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Çoklu Tema Desteği</h2>
          <p>
            Çoklu menü temalarımız ile istediğiniz menü tasarımını kolayca
            panelden değiştirerek kullanabilirsiniz. Tasarımlara sürekli
            yenilerini ekleyip güncelliyoruz. Tasarımlar tüm dillere ve para
            birimlerine entegre çalışabilirler.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu_tr2.webp"
            alt="Çoklu Dil QR Menü"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>4 Dil ile Müşteri Memnuniyeti</h2>
          <p>
            Modern QR kod menü - karekod menümüz ile 4 tane dile direkt olarak
            tek tıkla çeviri yapabilir, dünyanın her yerinden müşterilerinizi
            memnun ederek modern görünümlü menüler sunmuş olursunuz. Çoklu tema
            seçeneklerimiz ile göze hoş gelen, modern menülere sahip
            olacaksınız.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-3">
      <div class="container">
        <div class="rightdiv">
          <img
            src="/img/qr_menu_tr3.webp"
            alt="Sosyal Medya Destekli Karekod Menü"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="leftdiv">
          <h2>Sosyal Medya, ve Google Optimizasyonları</h2>
          <p>Burada da bitmiyor, Sosyal medya hesapları ve ulaşım bilgilerinizi
            restoran menü sayfanıza bağlayarak kolayca müşterilerinizin
            erişmesini sağlayabilirsiniz. Ayrıca Google entegrasyonları ile
            işletmenizi Google ile optimize hale getiriyor ve menünüzü arama
            motorlarında üst sıralarda çıkarıyoruz.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img
            src="/img/qr_menu_en_dash1.webp"
            alt="Qr Kod Menü Yönetim Paneli"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Profesyonel Yönetim Paneli</h2>
          <p>
            Ek olarak QR kod - karekod menünüzü panelden sınırsız şekilde
            özelleştirerek kontrol edebilirsiniz. Kolayca menüdeki ürünleri
            özelleştirebilir, resimler ekleyebilir ve açıklamalar
            yazabilirsiniz. Panel sistemimiz işletmeniz için en büyük
            kolaylıkları sunuyor.</p>
        </div>
        <div class="two">
          <img
            src="/img/qr_menu_en_dash2.webp"
            alt="Karekod Menü Yönetim Paneli"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Tek Tık ile Çeviri</h2>
          <p>
            Menünüzü yönetim panelinden tek tıkla istediğiniz dile
            çevirebilirsiniz. Açıklamalar ve içeriklerde dahil olarak
            kullandığımız framework ile mükemmel bir çeviri deneyimi sunuyoruz.</p>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <p>Müşterilerinize modern ve zevkli restoran deneyimi sunmak için Modern
          QR kod menü - Karekod menümüzü 4 gün hemen deneyin. Kredi kartı
          bilgisi 4 gün için gerekmez. Reklam yok. Sizin için herşeyi optimize
          ettik.</p>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Deneme Sürümü</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya Butonları
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Entegrasyonu
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Dil - 3 Para Birimi
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Otomatik Çeviri Modülü
            </li>
          </ul>
          {{#if user}}
            <div class="call">
              <a href="/user/dashboard">Deneyin !</a>
            </div>
          {{else}}
            <div class="call">
              <a href="/tr/register">Deneyin !</a>
            </div>
          {{/if}}
        </div>
        <div class="price1">
          <h3>Normal Plan</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya Butonları
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Entegrasyonu
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Dil - 3 Para Birimi
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Otomatik Çeviri Modülü
            </li>
          </ul>
          <div class="pricediv">
            <span>75 ₺ ($3) Aylık Ücret İle</span>
          </div>
          <div class="call">
            {{#if user}}
              <div class="call">
                <a
                  href="https://cagatayeren.lemonsqueezy.com/checkout/buy/1fbf8973-4cf4-4108-a5b5-418866228eac?embed=1&logo=0&discount=0&dark=1"
                  class="lemonsqueezy-button"
                >Abone Ol !</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/tr/register">Abone Ol !</a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="price2">
          <h3>Maxi Plan</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya Butonları
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Entegrasyonu
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Dil - 3 Para Birimi
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Otomatik Çeviri Modülü
            </li>
          </ul>
          <div class="pricediv">
            <span>Paket Inaktif</span>
          </div>
          <div class="call">
            <a href="#">Abone Ol !</a>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>