<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/qr_menu_en1.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-1025661586"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'AW-1025661586');
    </script>
    <title>Digital QR Code Menu For Restaurants | QRMenux</title>
    <meta
      name="description"
      content="Reset your menu expenses with Digital QR Code Menu For Restaurants. Digitize your menu and increase customer satisfaction. Keep up with technology with multilingual and multi-currency modules."
    />
    <meta
      property="og:title"
      content="Digital QR Code Menu For Restaurants | QRMenux"
    />
    <meta property="og:url" content="https://qrmenux.com" />
    <meta property="og:image" content="/img/qr_menu_en1.webp" />
    <meta
      property="og:description"
      content="Reset your menu expenses with Digital QR Code Menu For Restaurants. Digitize your menu and increase customer satisfaction. Keep up with technology with multilingual and multi-currency modules."
    />
    <link href="https://qrmenux.com" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com" hreflang="en" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
    <link href="https://qrmenux.com/fr" hreflang="fr" rel="alternate" />
    <link href="https://qrmenux.com/es" hreflang="es" rel="alternate" />
  </head>
  <body>
    <div class="vh100">
      <header>
        <a href="/">
          <img src="/img/logo.webp" alt="QRMenux" width="100" height="100" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Language <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/">Homepage</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Logout</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Logout</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Language <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/">Homepage</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Meet Our Digital QR Code Menu For Restaurants with Automatic
              Language and Currency Translate Feature
            </h1>
            <p>
              We offer you a next-generation, Digital QR Code Menu with
              multilingual support and automatic translation module. You can
              obtain this solution we provide for modern restaurants, hotels,
              and cafes at an affordable price and with quality. Say goodbye to
              old menus and say hello to more satisfied customers with your new
              generation menu!
            </p>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Example Menu</a>
              <a href="/register" class="last">Try Free!</a>
            </div>

          </div>
          <div class="rightdiv">
            <img
              id="image1"
              src="/img/qr_menu_en1.webp"
              alt="QR Code Menu - Restaurant Menu"
              width="420"
              height="793.33"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu2_tr1.webp"
            alt="Multiple Theme QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Multiple Theme Options</h2>
          <p>
            With our multiple menu themes, you can easily change and use the
            menu design you desire from the panel. We continuously add and
            update new designs. The designs can be seamlessly integrated into
            all languages and currencies.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu_en2.webp"
            alt="Multilanguage QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Customer Satisfaction with Multi-Language Support</h2>
          <p>
            With our modern QR code menu, you can easily translate to other
            languages with just one click, providing your customers with
            modern-looking menus that satisfy them from anywhere in the world.
            You will have visually appealing, modern menus with our multiple
            theme options.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-3">
      <div class="container">
        <div class="rightdiv">
          <img
            src="/img/qr_menu_en3.webp"
            alt="QR Menu with Social Media Feature"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="leftdiv">
          <h2>Social Media and Google Optimizations</h2>
          <p>You can easily enable your customers to access your social media
            accounts and contact information by linking them to your restaurant
            menu page. Additionally, we optimize your business with Google
            integrations, ensuring that your menu appears at the top of search
            engines.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img
            src="/img/qr_menu_en_dash1.webp"
            alt="Qr Code Menu Dashboard"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Professional Dashboard</h2>
          <p>
            In addition, you can control your QR code menu unlimitedly from the
            panel by customizing it. You can easily customize the products in
            the menu, add images, and write descriptions. Our panel system
            offers the greatest convenience for your business.</p>
        </div>
        <div class="two">
          <img
            src="/img/qr_menu_en_dash2.webp"
            alt="Qr Code Menu Dashboard 2"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Translate With 1 Click</h2>
          <p>
            You can translate your menu to any language you desire with just one
            click from the administration panel. We provide an excellent
            translation experience with the framework we use, which includes
            descriptions and content.</p>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <p>To provide your customers with a modern and enjoyable restaurant
          experience, Try our QR code menu - Restaurant menu for 4 days. No
          credit card information is required for the trial period, and there
          are no advertisements. We have optimized everything for your
          convenience.</p>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Trial Package</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Category</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Item
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Image
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Special Restaurant Page (Include Logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact and Social Media Links
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Integration
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Language - 3 Currency
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Automatic Translate Module
            </li>
          </ul>
          {{#if user}}
            <div class="call">
              <a href="/user/dashboard">Try 4 Day</a>
            </div>
          {{else}}
            <div class="call">
              <a href="/register">Try 4 Day</a>
            </div>
          {{/if}}
        </div>
        <div class="price1">
          <h3>Normal Package</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Category</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Item
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Image
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Special Restaurant Page (Include Logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact and Social Media Links
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Integration
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Language - 3 Currency
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Automatic Translate Module
            </li>
          </ul>
          <div class="pricediv">
            <span>$9 Monthly</span>
          </div>
          <div class="call">
            {{#if user}}
              <div class="call">
                <a
                  href="https://cagatayeren.lemonsqueezy.com/checkout/buy/0fd2bd56-b08b-4a42-97f3-4a83dac1c7bb?embed=1&logo=0&discount=0&dark=1"
                  class="lemonsqueezy-button"
                >Subscribe</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/register">Subscribe</a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="price2">
          <h3>Maxi Package</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Category</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Item
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Limitless Image
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Special Restaurant Page (Include Logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact and Social Media Links
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Whatsapp Integration
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 Language - 3 Currency
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Automatic Translate Module
            </li>
          </ul>
          <div class="pricediv">
            <span>Inactive for now</span>
          </div>
          <div class="call">
            <a href="/">Subscribe</a>
          </div>
        </div>
      </div>
    </section>

    <div class="wrapper">
      <a class="social" target="_blank" href="https://wa.me/+905426430505"><i
          class="fa-brands fa-2x fa-whatsapp"
        ></i></a>
      <a class="social" href="mailto:cagatayeren1898@gmail.com">
        <i class="fa fa-2x fa-envelope"></i></a>
      <a class="close-button"> <i class="fa fa-2x fa-close"></i></a>
    </div>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script>
      var close_button = document.querySelector(".close-button"); var
      social_buttons = document.querySelectorAll(".social");
      close_button.addEventListener("click", () => {
      social_buttons.forEach(function (buttons) {
      buttons.classList.toggle("hide"); }); });
    </script>
    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>