<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/qr_menu_en1.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-1025661586"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'AW-1025661586');
    </script>
    <title>Menu QR Code Numérique - Menu du Restaurant | QRMenux</title>
    <meta
      name="description"
      content="Réinitialisez vos dépenses de menu avec le menu QR Code numérique - Menu du restaurant. Numérisez votre menu et augmentez la satisfaction des clients. Restez à la pointe de la technologie avec des modules multilingues et multi-devises."
    />
    <meta
      property="og:title"
      content="Menu QR Code Numérique - Menu du Restaurant | QRMenux"
    />
    <meta property="og:url" content="https://qrmenux.com/fr" />
    <meta property="og:image" content="/img/qr_menu_en1.webp" />
    <meta
      property="og:description"
      content="Réinitialisez vos dépenses de menu avec le menu QR Code numérique - Menu du restaurant. Numérisez votre menu et augmentez la satisfaction des clients. Restez à la pointe de la technologie avec des modules multilingues et multi-devises."
    />
    <link href="https://qrmenux.com/fr" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com" hreflang="en" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
    <link href="https://qrmenux.com/fr" hreflang="fr" rel="alternate" />
    <link href="https://qrmenux.com/es" hreflang="es" rel="alternate" />
  </head>
  <body>
    <div class="vh100">
      <header>
        <a href="/fr">
          <img src="/img/logo.webp" alt="QRMenux" width="100" height="100" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Langue <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Déconnecter</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Dashboard</a></li>
                <li><a href="/user/logout">Déconnecter</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Langue <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span> English</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                      <a href="/fr"><span class="fi fi-fr"></span> Français</a>
                      <a href="/es"><span class="fi fi-es"></span> Español</a>
                    </div>
                  </div>
                </li>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/fr/register">Enregistrer</a></li>
                <li><a href="/fr/login">Connexion</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/fr">Accueil</a></li>
                <li><a href="/fr/register">Enregistrer</a></li>
                <li><a href="/fr/login">Connexion</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Découvrez notre menu numérique avec code QR - Menu du restaurant
              avec fonction de traduction automatique de la langue et de la
              devise.
            </h1>
            <p>
              Nous vous proposons un support multilingue de nouvelle génération
              et un module de traduction automatique avec menu QR code - Menu du
              restaurant. Vous pouvez obtenir cette solution que nous offrons
              aux restaurants, hôtels et cafés modernes à un prix abordable et
              de qualité. Dites au revoir aux anciens menus et dites bonjour à
              des clients plus satisfaits avec votre menu de nouvelle génération
              !
            </p>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Exemple de menu</a>
              <a href="/register" class="last">Essayer gratuitement!</a>
            </div>

          </div>
          <div class="rightdiv">
            <img
              id="image1"
              src="/img/qr_menu_en1.webp"
              alt="QR Code Menu - Restaurant Menu"
              width="420"
              height="793.33"
            />
          </div>
        </div>
      </section>
    </div>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu2_tr1.webp"
            alt="Multiple Theme QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Options De Thème Multiples.</h2>
          <p>
            Avec nos multiples thèmes de menu, vous pouvez facilement changer et
            utiliser le design de menu que vous souhaitez à partir du panneau.
            Nous ajoutons et mettons régulièrement à jour de nouveaux designs.
            Les designs peuvent être intégrés de manière transparente dans
            toutes les langues et devises.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">
          <img
            src="/img/qr_menu_en2.webp"
            alt="Multilanguage QR Menu"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="rightdiv">
          <h2>Satisfaction Client Avec Support Multilingue</h2>
          <p>
            Avec notre menu QR code moderne, vous pouvez facilement traduire
            vers d'autres langues en un seul clic, offrant à vos clients des
            menus au look moderne qui les satisferont de n'importe où dans le
            monde. Vous aurez des menus visuellement attrayants et modernes
            grâce à nos options de thème multiples.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-3">
      <div class="container">
        <div class="rightdiv">
          <img
            src="/img/qr_menu_en3.webp"
            alt="QR Menu with Social Media Feature"
            loading="lazy"
            width="450"
            height="850"
          />
        </div>
        <div class="leftdiv">
          <h2>Réseaux Sociaux Et Optimisations Google</h2>
          <p>
            Vous pouvez facilement permettre à vos clients d'accéder à vos
            comptes de médias sociaux et à vos coordonnées en les reliant à la
            page de votre menu de restaurant. De plus, nous optimisons votre
            entreprise avec des intégrations Google, garantissant que votre menu
            apparaît en tête des moteurs de recherche.
          </p>
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img
            src="/img/qr_menu_en_dash1.webp"
            alt="Qr Code Menu Dashboard"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Panel Professionnel</h2>
          <p>
            De plus, vous pouvez contrôler votre menu QR code de manière
            illimitée à partir du panneau en le personnalisant. Vous pouvez
            facilement personnaliser les produits du menu, ajouter des images et
            rédiger des descriptions. Notre système de panneau offre la plus
            grande commodité pour votre entreprise.
          </p>
        </div>
        <div class="two">
          <img
            src="/img/qr_menu_en_dash2.webp"
            alt="Qr Code Menu Dashboard 2"
            loading="lazy"
            width="900"
            height="506.25"
          />
        </div>
        <div class="call">
          <h2>Traduire en 1 Clic</h2>
          <p>
            Vous pouvez traduire votre menu dans n'importe quelle langue que
            vous souhaitez en un seul clic à partir du panneau d'administration.
            Nous offrons une excellente expérience de traduction avec le cadre
            que nous utilisons, qui inclut les descriptions et le contenu.</p>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <p>Pour offrir à vos clients une expérience de restaurant moderne et
          agréable, essayez notre menu QR code - Menu du restaurant pendant 4
          jours. Aucune information de carte de crédit n'est requise pour la
          période d'essai et il n'y a pas de publicités. Nous avons optimisé
          tout pour votre commodité.</p>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Forfait d'essai</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Catégorie illimitée</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Article illimité
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Image illimitée
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Page Spéciale Restaurant (Inclure le logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact et liens vers les réseaux sociaux
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Intégration WhatsApp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 langues - 3 devises
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Module de traduction automatique
            </li>
          </ul>
          {{#if user}}
            <div class="call">
              <a href="/user/dashboard">Essayez 4 jours</a>
            </div>
          {{else}}
            <div class="call">
              <a href="/register">Essayez 4 jours</a>
            </div>
          {{/if}}
        </div>
        <div class="price1">
          <h3>Forfait Normal</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Catégorie illimitée</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Article illimité
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Image illimitée
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Page Spéciale Restaurant (Inclure le logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact et liens vers les réseaux sociaux
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Intégration WhatsApp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 langues - 3 devises
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Module de traduction automatique
            </li>
          </ul>
          <div class="pricediv">
            <span>$9 Mensuel</span>
          </div>
          <div class="call">
            {{#if user}}
              <div class="call">
                <a
                  href="https://cagatayeren.lemonsqueezy.com/checkout/buy/0fd2bd56-b08b-4a42-97f3-4a83dac1c7bb?embed=1&logo=0&discount=0&dark=1"
                  class="lemonsqueezy-button"
                >S'abonner</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/register">S'abonner</a>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="price2">
          <h3>Forfait Maxi</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menu</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Catégorie illimitée</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Article illimité
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Image illimitée
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Page Spéciale Restaurant (Inclure le logo)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Contact et liens vers les réseaux sociaux
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Intégration WhatsApp
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              4 langues - 3 devises
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Module de traduction automatique
            </li>
          </ul>
          <div class="pricediv">
            <span>Inactif pour le moment</span>
          </div>
          <div class="call">
            <a href="/">S'abonner</a>
          </div>
        </div>
      </div>
    </section>

    <div class="wrapper">
      <a class="social" target="_blank" href="https://wa.me/+905426430505"><i
          class="fa-brands fa-2x fa-whatsapp"
        ></i></a>
      <a class="social" href="mailto:cagatayeren1898@gmail.com">
        <i class="fa fa-2x fa-envelope"></i></a>
      <a class="close-button"> <i class="fa fa-2x fa-close"></i></a>
    </div>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script>
      var close_button = document.querySelector(".close-button"); var
      social_buttons = document.querySelectorAll(".social");
      close_button.addEventListener("click", () => {
      social_buttons.forEach(function (buttons) {
      buttons.classList.toggle("hide"); }); });
    </script>
    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>