<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Digital QR Code Menu - Restaurant Menu | QRMenux</title>
    <meta
      name="description"
      content="Reset your menu expenses with Digital QR Code Menu - Restaurant Menu. Digitize your menu and increase customer satisfaction. Keep up with technology with multilingual and multi-currency modules."
    />
    <link href="https://qrmenux.com" rel="canonical" />
    <link href="https://qrmenux.com" hreflang="x-default" rel="alternate" />
    <link href="https://qrmenux.com/tr" hreflang="tr" rel="alternate" />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/img/logo.png" alt="QRMenux" />
      </a>
      <nav>
        {{#if user}}
          <div class="sections">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/user/dashboard">{{user.username}}</a></li>
              <li><a href="/user/dashboard">Dashboard</a></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </div>
          <div class="mobilesection">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/user/dashboard">{{user.username}}</a></li>
              <li><a href="/user/dashboard">Dashboard</a></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </div>
        {{else}}
          <div class="sections">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
          <div class="mobilesection">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
        {{/if}}
        <div class="hamburger">
          <i class="fas fa-hamburger"></i>
        </div>
      </nav>
    </header>

    <main>
      <section class="landing">
        <div class="container">
          <div class="leftdiv">
            <h1>
              Meet Our Digital QR Code Menu - Restaurant Menu with Automatic
              Language and Currency Translate Feature
            </h1>
            <p>
              We offer you a next-generation, multilingual support and automatic
              translation module with QR code menu - Restaurant menu. You can
              obtain this solution we provide for modern restaurants, hotels,
              and cafes at an affordable price and with quality. Say goodbye to
              old menus and say hello to more satisfied customers with your new
              generation menu!
            </p>

            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                class="first"
                target="_blank"
              >Example Menu</a>
              <a href="/register" class="last">Try Free!</a>
            </div>

          </div>
          <div class="rightdiv">
            <div class="imagediv">
              <img
                id="image1"
                src="/img/main1trs.webp"
                alt="QR Kod Menü - Karekod Menü"
              />
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="bottom">
          <i class="fa-solid fa-angles-down"></i>
        </div>
      </section>

      <section class="landing-2">
        <div class="container">
          <div class="leftdiv">
            <img
              src="/img/main2trs.webp"
              alt="Çoklu Dil QR Menü"
              loading="lazy"
            />
          </div>
          <div class="rightdiv">
            <h2>Customer Satisfaction with Multi-Language Support</h2>
            <p>
              With our modern QR code menu, you can easily translate to other
              languages with just one click, providing your customers with
              modern-looking menus that satisfy them from anywhere in the world.
              You will have visually appealing, modern menus with our multiple
              theme options.</p>
            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                target="_blank"
              >Example Menu</a>
            </div>
          </div>
        </div>
      </section>
      <section class="landing-3">
        <div class="container">
          <div class="leftdiv">
            <h2>Social Media and Google Optimizations</h2>
            <p>You can easily enable your customers to access your social media
              accounts and contact information by linking them to your
              restaurant menu page. Additionally, we optimize your business with
              Google integrations, ensuring that your menu appears at the top of
              search engines.</p>
            <div class="call">
              <a
                href="https://hamham-steakhouse.qrmenux.com"
                target="_blank"
              >Example Menu</a>
            </div>
          </div>
          <div class="rightdiv">
            <img
              src="/img/main3trs.webp"
              alt="Sosyal Medya Destekli Karekod Menü"
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <section class="landing-4">
        <div class="container">
          <div class="one">
            <img
              src="/img/mainsection1.webp"
              alt="Qr Kod Menü Yönetim Paneli"
              loading="lazy"
            />
          </div>
          <div class="two">
            <img
              src="/img/mainsection2.webp"
              alt="Karekod Menü Yönetim Paneli"
              loading="lazy"
            />
          </div>
          <div class="call">
            <h2>Professional Dashboard</h2>
            <p>
              In addition, you can control your QR code menu unlimitedly from
              the panel by customizing it. You can easily customize the products
              in the menu, add images, and write descriptions. Our panel system
              offers the greatest convenience for your business.</p>
          </div>
        </div>
      </section>

      <section class="landing-5">
        <div class="container">
          <p>To provide your customers with a modern and enjoyable restaurant
            experience, we offer our Modern QR Code Menu - Try our QR code menu
            for 4 days. No credit card information is required for the trial
            period, and there are no advertisements. We have optimized
            everything for your convenience.</p>
        </div>
      </section>

      <section class="price">
        <div class="container">
          <div class="trial">
            <h3>Trial Package</h3>
            <ul>
              <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Category</li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Item
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Image
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Special Restaurant Page (Include Logo)
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Contact and Social Media Links
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Whatsapp Integration
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                4 Language - 3 Currency
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Automatic Translate Module
              </li>
            </ul>
            {{#if user}}
              <div class="call">
                <a href="/user/dashboard">Try 4 Day</a>
              </div>
            {{else}}
              <div class="call">
                <a href="/register">Try 4 Day</a>
              </div>
            {{/if}}
          </div>
          <div class="price1">
            <h3>Normal Package</h3>
            <ul>
              <li> <i class="fa-solid fa-check"></i> 1 Menu</li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Category</li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Item
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Image
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Special Restaurant Page (Include Logo)
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Contact and Social Media Links
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Whatsapp Integration
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                4 Language - 3 Currency
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Automatic Translate Module
              </li>
            </ul>
            <div class="pricediv">
              <span>$12 Monthly</span>
            </div>
            <div class="call">
              {{#if user}}
                <div class="call">
                  <a
                    href="https://cagatayeren.lemonsqueezy.com/checkout/buy/0fd2bd56-b08b-4a42-97f3-4a83dac1c7bb?embed=1&logo=0&discount=0&dark=1"
                    class="lemonsqueezy-button"
                  >Subscribe</a>
                </div>
              {{else}}
                <div class="call">
                  <a href="/register">Subscribe</a>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="price2">
            <h3>Maxi Package</h3>
            <ul>
              <li> <i class="fa-solid fa-check"></i> 5 Menu</li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Category</li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Item
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Limitless Image
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Special Restaurant Page (Include Logo)
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Contact and Social Media Links
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Whatsapp Integration
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                4 Language - 3 Currency
              </li>
              <li>
                <i class="fa-solid fa-check"></i>
                Automatic Translate Module
              </li>
            </ul>
            <div class="pricediv">
              <span>Inactive for now</span>
            </div>
            <div class="call">
              <a href="/">Subscribe</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>

    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>