<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      .container{ display: flex; gap: 1rem; }
    </style>
  </head>
  <body>
    <form action="/user/menu/post2" method="post" enctype="multipart/form-data">
      <select name="kategori">
        {{#each menu.Kategoriler}}
          <option value="{{this._id}}">{{this.Name}}</option>
        {{/each}}
        <input type="hidden" name="menuid" value="{{menuid}}" />
        <input type="text" name="name" />
        <input type="text" name="price" />
        <input
          type="file"
          name="image"
          id="image"
          onchange="showPreview(event);"
        />
        <div class="preview">
          <img style="width: 150px;" id="file-ip-1-preview" />
        </div>
        <button type="submit ">Ekle</button>
      </select>
    </form>

    {{#each menu.Kategoriler}}
      <h1>{{this.Name}}</h1>
      {{#each this.Urunler}}
        <div class="container">
          <img style="width: 150px;" src="/images/{{this.image}}" alt="" />
          <h3>{{this.Name}}</h3>
          <h3>{{this.Price}} ₺</h3>
        </div>
      {{/each}}
    {{/each}}

    <a href="/user/dashboard"><button>Menüyü Tamamla</button></a>

    <script>
      function showPreview(event){ if(event.target.files.length > 0){ var src =
      URL.createObjectURL(event.target.files[0]); var preview =
      document.getElementById("file-ip-1-preview"); preview.src = src;
      preview.style.display = "block"; } }
    </script>
  </body>
</html>