<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <title>{{Menu.Name}}</title>
    <link rel="stylesheet" href="/css/menus/menu1.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
    />
  </head>
  <body>

    <section class="menu--header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 pt-2 pb-2">
            <div class="row">
              <div
                class="col-lg-8 d-flex align-items-center justify-content-center justify-content-lg-start p-0"
              >
                <img
                  class="img-fluid headerlogo mt-3 mt-lg-0"
                  src="/images/{{menu.image}}"
                  alt=""
                />
              </div>
              <div class="col-lg-4 d-flex flex-column p-0">
                <div class="social-media d-flex justify-content-evenly pt-3">
                  {{#if menu.Facebook}}
                    <a target="_blank" href="{{menu.Facebook}}">
                      <i class="fa fa-3x fa-facebook-official"></i></a>
                  {{/if}}
                  {{#if menu.Instagram}}
                    <a target="_blank" href="{{menu.Instagram}}"><i
                        class="fa fa-3x fa-instagram"
                      ></i></a>
                  {{/if}}
                  {{#if menu.Twitter}}
                    <a target="_blank" href="{{menu.Twitter}}"><i
                        class="fa fa-3x fa-twitter-square"
                      ></i></a>
                  {{/if}}
                </div>
                <h1
                  class="text-center pt-3 pb-3 pb-lg-0"
                  style="word-wrap: break-word;"
                >{{menu.Name}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container pt-3">
        <div class="row">
          <div
            class="col-lg-8 offset-lg-2 pr-2 pl-2 p-lg-0 d-flex flex-column justify-content-center align-items-center"
          >
            <h5>Menü Dili Seçin</h5>
            <div class="bayraklar d-flex flex-row gap-3">
              <a href="/lang/tr">
                <span class="fi fi-tr"></span></a>
              <a href="/lang/en">
                <span class="fi fi-gb-eng"></span></a>
              <a href="/lang/fr"><span class="fi fi-fr"></span></a>
              <a href="/lang/ru"><span class="fi fi-ru"></span></a>
            </div>
            <div class="selectdiv mt-3">
              <select
                onchange="select()"
                id="money"
                class="form-select"
                aria-label="Default select example"
              >
                <option value="{{menu.Currency}}" selected>Para Birimi Seçin</option>
                <option value="₺">₺</option>
                <option value="€">€</option>
                <option value="$">$</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 pr-2 pl-2 p-lg-0 categorycontainer">
            <div class="buttons pb-3 pt-3">
              <button
                class="btn btn-warning mt-2 mt-lg-0"
                onclick="filterfunc(this)"
              >Hepsi</button>
              {{#each menu.Kategoriler}}
                <button
                  class="btn btn-warning mt-2 mt-lg-0"
                  onclick="filterfunc(this)"
                >{{this.Nametr}}</button>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="categories">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            {{#each menu.Kategoriler}}
              <div class="row selectrow {{this.Nametr}}">
                <div
                  class="col-12 p-5 category--background"
                  style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url('/images/{{this.image}}');"
                >
                  <h1 class="text-white text-center">{{this.Nametr}}</h1>
                </div>
                <div class="col-12 pt-3 pb-3 itembg">
                  {{#each this.Urunler}}
                    <div class="uruncontainer pt-2 pb-2 ps-3 pe-3 {{this._id}}">
                      <div class="row">
                        <div
                          class="col-4 p-0 d-flex justify-content-center align-items-center"
                        >
                          <img
                            class="img-fluid imgitem"
                            src="/images/{{this.image}}"
                            alt=""
                            loading="lazy"
                          />
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                          <div
                            class="aciklama d-flex flex-column justify-content-evenly align-items-center"
                          >
                            <h4 class="text-white itemname">{{this.Nametr}}</h4>
                            <button
                              class="{{this._id}} btn btn-warning mt-2 mt-lg-0"
                              onclick="displayicindekiler(this)"
                            >İçindekiler</button>
                          </div>
                        </div>
                        <div class="icindekiler {{this._id}}">
                          <h5>{{this.Descriptiontr}}</h5>
                          <i
                            class="{{this._id}} fa fa-times"
                            onclick="closeicindekiler(this)"
                            aria-hidden="true"
                          ></i>
                        </div>
                        <div
                          class="col-2 p-0 d-flex justify-content-center align-items-center pricediv"
                        >
                          <h4 class="itemprice">{{this.Price}}
                            {{this.Currency}}</h4>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 pr-2 pl-2 p-lg-0">
            <div
              class="row d-flex justify-content-center align-items-center pt-5 pb-5"
            >
              {{#if menu.Adres}}
                <div class="col-lg-6 col-12">
                  <h5 class="text-center text-lg-start">{{menu.Adres}}</h5>
                </div>
              {{/if}}
              <div class="col-lg-6 col-12">
                <div class="social-media d-flex justify-content-evenly pt-3">
                  {{#if menu.Facebook}}
                    <a target="_blank" href="{{menu.Facebook}}">
                      <i class="fa fa-3x fa-facebook-official"></i></a>
                  {{/if}}
                  {{#if menu.Instagram}}
                    <a target="_blank" href="{{menu.Instagram}}"><i
                        class="fa fa-3x fa-instagram"
                      ></i></a>
                  {{/if}}
                  {{#if menu.Twitter}}
                    <a target="_blank" href="{{menu.Twitter}}"><i
                        class="fa fa-3x fa-twitter-square"
                      ></i></a>
                  {{/if}}
                </div>
                {{#if menu.Whatsapp}}
                  <div
                    class="second d-flex justify-content-center align-items-center mt-4"
                  >
                    <i class="fa fa-3x fa-phone phonebottom me-3"></i>
                    <h5>{{menu.Whatsapp}}</h5>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="wrapper">
      <a
        class="social"
        target="_blank"
        href="https://wa.me/{{menu.Whatsapp}}"
      ><i class="fa fa-2x fa-whatsapp"></i></a>
      <a class="social" href="tel:{{menu.Whatsapp}}">
        <i class="fa fa-2x fa-phone"></i></a>
      <a class="close-button"> <i class="fa fa-2x fa-close"></i></a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/menu.js"></script>
  </body>
</html>