<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/menus/menu1.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>

    <section>
      <div class="cartmodal">
        <div class="container">
          <div class="row">
            <div
              class="col-12 d-flex flex-column justify-content-center align-items-center"
            >
              <h3>Information</h3>
              <div class="cartinside">
              </div>
              <div class="maliyet"></div>
              <div class="formcheck d-flex flex-row">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label me-2" for="flexRadioDefault2">
                    Order in Restaurant
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Order in Home
                  </label>
                </div>
              </div>
              <select
                id="optionmasa"
                class="form-select mt-2"
                aria-label="Default select example"
              >
                <option selected>Select your table</option>
                {{#each menu.Masalar}}
                  <option value="{{this._id}}">{{this.Number}}</option>
                {{/each}}
              </select>
              <input
                id="ordernote"
                class="form-control mt-3"
                type="text"
                placeholder="If you have note, please send us..."
              />
              <div class="formcheck d-flex flex-row mt-3">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label me-2" for="flexRadioDefault2">
                    Pay with Cash
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Pay with Credit Card
                  </label>
                </div>
              </div>
              <button
                class="btn btn-md btn-warning mt-3 mb-3"
                onclick="submit()"
              >Send Order</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="menu--header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 pt-2 pb-2">
            <div class="row">
              <div
                class="col-lg-8 d-flex align-items-center justify-content-center justify-content-lg-start"
              >
                <img
                  class="img-fluid headerlogo mt-3 mt-lg-0"
                  src="/images/{{menu.image}}"
                  alt=""
                />
              </div>
              <div class="col-lg-4 d-flex flex-column">
                <div class="social-media d-flex justify-content-evenly pt-3">
                  <i class="fa fa-3x fa-facebook-official"></i>
                  <i class="fa fa-3x fa-instagram"></i>
                  <i class="fa fa-3x fa-twitter-square"></i>
                </div>
                <h1 class="text-center pt-3 pb-3 pb-lg-0">{{menu.Name}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 pr-2 pl-2 p-lg-0 categorycontainer">
            <div class="buttons pb-3 pt-3">
              <button
                class="btn btn-warning mt-2 mt-lg-0"
                onclick="filterfunc(this)"
              >All</button>
              {{#each menu.Kategoriler}}
                <button
                  class="btn btn-warning mt-2 mt-lg-0"
                  onclick="filterfunc(this)"
                >{{this.Name}}</button>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="categories">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            {{#each menu.Kategoriler}}
              <div class="row selectrow {{this.Name}}">
                <div
                  class="col-12 p-5 category--background"
                  style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url('/images/{{this.image}}');"
                >
                  <h1 class="text-white text-center">{{this.Name}}</h1>
                </div>
                <div class="col-12 pt-3 pb-3 itembg">
                  {{#each this.Urunler}}
                    <div class="uruncontainer ps-3 pe-3 {{this._id}}">
                      <div class="row">
                        <div
                          class="col-4 p-0 d-flex justify-content-center align-items-center"
                        >
                          <img
                            class="img-fluid imgitem"
                            src="/images/{{this.image}}"
                            alt=""
                          />
                        </div>
                        <div
                          class="col-6 d-flex justify-content-center mt-3 mt-xl-0"
                        >
                          <div
                            class="aciklama d-flex flex-column justify-content-evenly align-items-center"
                          >
                            <h4 class="text-white itemname">{{this.Name}}</h4>
                            <div class="middiv d-flex justify-content-center">
                              <button
                                class="{{this._id}}
                                  btn btn-lg btn-warning btnsupdown"
                                onclick="valuedown(this)"
                              >-</button>
                              <input
                                class="numberinput w-25"
                                type="text"
                                value="1"
                                readonly
                              />
                              <button
                                class="{{this._id}}
                                  btn btn-lg btn-warning btnsupdown"
                                onclick="valueup(this)"
                              >+</button>
                            </div>
                            <button
                              class="{{this._id}}
                                btn btn-md btn-warning mt-3 mb-3"
                              onclick="sendid(this)"
                            >Add to Cart</button>
                          </div>
                        </div>
                        <div
                          class="col-2 p-0 d-flex justify-content-center align-items-center pricediv"
                        >
                          <h4 class="itemprice">${{this.Price}}</h4>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="bottombar pt-3 pb-3">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-8 offset-lg-2 d-flex flex-row justify-content-between align-items-center"
            >
              <i class="fa fa-3x fa-arrow-left" aria-hidden="true"></i>
              <div
                class="shoppingbagcontainer d-flex justify-content-center align-items-center"
              >
                <i class="fa fa-4x fa-shopping-bag"></i>
                <span class="bagspan">0</span>
              </div>
              <div class="cartcontainer text-center">
                <div class="container">
                  <div class="col-lg-8 offset-lg-2">
                    <div class="cartinside">
                    </div>
                    <div class="maliyet"></div>
                  </div>
                </div>
              </div>
              <i class="fa fa-3x fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/menu.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>