<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .menu--header{ background-color: black; }
  </style>
  <body>
    {{!-- <h1>{{menu.Name}}</h1>

    {{#each menu.Kategoriler}}
      <h5>{{this.Name}}</h5>
      {{#each this.Urunler}}
        <h5>{{this.Name}}</h5>
      {{/each}}
    {{/each}} --}}

    <section class="menu--header">
      <div class="container">
        <div class="row">
          <div
            class="col-8 offset-2 pt-2 pb-2 d-flex justify-content-between align-items-center"
          >
            <img
              style="height:200px;"
              class="img-fluid"
              src="/images/{{menu.image}}"
              alt=""
            />
            <h1 class="text-center text-white menu--header">{{menu.Name}}</h1>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-8 offset-2 p-0">
            <div class="buttons">
              {{#each menu.Kategoriler}}
                <button
                  class="btn btn-warning"
                  onclick="filterfunc(this)"
                >{{this.Name}}</button>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="categories mt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-8 offset-2">
            {{#each menu.Kategoriler}}
              <div class="row selectrow {{this.Name}}">
                <div
                  class="col-12 p-5 category--background"
                  style="background-image: url('/images/{{this.image}}'); background-position: center;
    background-repeat: no-repeat; background-size: cover;"
                >
                  <h1 class="text-white text-center">{{this.Name}}</h1>
                </div>
                <div class="col-12 p-0">
                  {{#each this.Urunler}}
                    <div class="uruncontainer d-flex justify-content-between">
                      <img
                        style="height:200px"
                        class="img-fluid p-0"
                        src="/images/{{this.image}}"
                        alt=""
                      />
                      <h4 class="p-0">{{this.Name}}</h4>
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/menu.js"></script>
  </body>
</html>