<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />

    <title>QRMenux Yönetim Paneli</title>

    <!-- Custom fonts for this template-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dashboards/loading.css" />

    <style>
      #inputs{ display: none; } #clickable{ cursor: pointer; }
    </style>

  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >

        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/user/dashboard"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-utensils"></i>
          </div>
          <div class="sidebar-brand-text mx-3">QR Menux</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/user/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Kullanıcı Paneli</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Menü Paneli
        </div>

        <!-- Nav Item - Pages Collapse Menu -->

        <li class="nav-item">
          <a class="nav-link" href="/user/menu/post">
            <i class="fas fa-fw fa-plus"></i>
            <span>Menü Ekle</span>
          </a>
          <a class="nav-link" href="/user/createqr">
            <i class="fas fa-fw fa-qrcode"></i>
            <span>QR Oluştur</span>
          </a>
          {{#each user.userMenu}}
            <a
              class="nav-link collapsed"
              href="#"
              data-toggle="collapse"
              data-target="#{{this.Slug}}"
              aria-expanded="true"
              aria-controls="collapseTwo"
            >
              <i class="fas fa-fw fa-bars"></i>
              <span>{{this.Name}}</span>
            </a>
            <div
              id="{{this.Slug}}"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionSidebar"
            >
              <div class="bg-white py-2 collapse-inner rounded">

                <h6 class="collapse-header">Menü Düzenle</h6>
                <a class="collapse-item" href="/user/{{this.Slug}}/edit">Menü
                  Bilgileri Düzenle</a>
                <a
                  class="collapse-item"
                  href="/user/{{this.Slug}}/edit2"
                >Kategori, Ürün Düzenle</a>
                <a
                  class="collapse-item"
                  href="/user/{{this.Slug}}/kategoriekle"
                >Kategori Ekle</a>
                <a
                  class="collapse-item"
                  href="/user/{{this.Slug}}/urunekle"
                >Ürün Ekle</a>

              </div>
            </div>
          {{/each}}
          {{#ifeq user.userLevel "Abone"}}
            <a class="nav-link" href="/user/unsubscribe">
              <i class="fas fa-fw fa-qrcode"></i>
              <span>Abonelik İptal</span>
            </a>
          {{/ifeq}}
        </li>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >

            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span
                    class="mr-2 d-none d-lg-inline text-gray-600 small"
                  >{{user.username}}</span>
                  <img
                    class="img-profile rounded-circle"
                    src="/img/undraw_profile.svg"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <form
                  action="/user/menu/post1"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div
                    class="label1 d-flex flex-column justify-content-center align-items-center pt-5"
                  >
                    <div class="col-md-12 col-12">
                      <input
                        id="menuid"
                        type="hidden"
                        name="idmenu"
                        value={{menu.id}}
                      />
                      <input
                        placeholder="Kategori Adı"
                        class="form-control"
                        type="text"
                        name={{nativelang}}
                        id="main"
                        onchange="inputcategory(this.value)"
                      />
                    </div>

                    <div class="col-md-12 col-12">
                      <div
                        class="bg-danger text-white mt-3"
                        id="clickable"
                        onclick="opentranslate()"
                      >
                        <div
                          class="pr-5 pl-5 pt-2 pb-2 d-flex justify-content-between align-items-center"
                        >
                          <h5 class="mt-auto mb-auto">Çeviri Paneli İçin
                            Tıklayın.</h5>
                          <i class="fa-solid fa-chevron-down"></i>
                        </div>
                      </div>
                      {{#ifeq menu.NativeLang "tr"}}
                        <div id="inputs">
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nameen"
                            id="en"
                          />
                          <a
                            class="en btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            İngilizce Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="namefr"
                            id="fr"
                          />
                          <a
                            class="fr btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Fransızca Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nameru"
                            id="ru"
                          />
                          <a
                            class="ru btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Rusça Çevir</a>
                        </div>
                      {{/ifeq}}
                      {{#ifeq menu.NativeLang "en"}}
                        <div id="inputs">
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nametr"
                            id="tr"
                          />
                          <a
                            class="tr btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Türkçe Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="namefr"
                            id="fr"
                          />
                          <a
                            class="fr btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Fransızca Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nameru"
                            id="ru"
                          />
                          <a
                            class="ru btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Rusça Çevir</a>
                        </div>
                      {{/ifeq}}
                      {{#ifeq menu.NativeLang "fr"}}
                        <div id="inputs">
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nameen"
                            id="en"
                          />
                          <a
                            class="en btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            İngilizce Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nametr"
                            id="tr"
                          />
                          <a
                            class="tr btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Türkçe Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nameru"
                            id="ru"
                          />
                          <a
                            class="ru btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Rusça Çevir</a>
                        </div>
                      {{/ifeq}}
                      {{#ifeq menu.NativeLang "ru"}}
                        <div id="inputs">
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nameen"
                            id="en"
                          />
                          <a
                            class="en btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            İngilizce Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="namefr"
                            id="fr"
                          />
                          <a
                            class="fr btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Fransızca Çevir</a>
                          <input
                            placeholder="Kategori Adı"
                            class="form-control mt-2"
                            type="text"
                            name="nametr"
                            id="tr"
                          />
                          <a
                            class="tr btn bt-sm btn-danger mt-2"
                            onclick="submit(this)"
                          >
                            Türkçe Çevir</a>
                        </div>
                      {{/ifeq}}
                    </div>
                  </div>
                  <div
                    class="col-12 d-flex flex-column justify-content-center align-items-center"
                  >
                    <div class="col-md-12 mt-3">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span
                            class="input-group-text"
                            id="inputGroupFileAddon01"
                          >Kategori Resmi</span>
                        </div>
                        <div class="custom-file">
                          <input
                            type="file"
                            name="image"
                            class="custom-file-input"
                            id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01"
                            onchange="showPreview(event);"
                          />
                          <label
                            class="custom-file-label"
                            for="inputGroupFile01"
                          >Kategori Resmi</label>
                        </div>
                      </div>
                    </div>
                    <div class="preview mt-3">
                      <img style="width: 200px;" id="file-ip-1-preview" />
                    </div>
                  </div>
                  <div
                    class="label1 d-flex flex-row justify-content-center align-items-center mt-3"
                  >
                    <button
                      class="btn btn-sm btn-danger mr-4"
                      type="submit"
                    >Kategoriyi Ekle</button>
                    <a
                      class="btn btn-sm btn-danger"
                      href="/user/{{menu.Slug}}/urunekle"
                    >Ürün Ekleme Sayfasına Geç</a>
                  </div>

                </form>
              </div>

              <div class="col-lg-6 pt-5">
                <div class="row">
                  {{#ifeq menu.NativeLang "tr"}}
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Kategori Adı</th>
                          <th scope="col">Düzenle/Sil</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each menu.Kategoriler}}
                          <tr>
                            <th class="mt-auto mb-auto">{{this.Nametr}}</th>
                            <td>
                              <div
                                class="d-flex justify-content-center align-items-center w-25"
                              >
                                <a
                                  class="btn btn-sm btn-danger ml-5"
                                  href="/user/{{this._id}}/kategoriedit"
                                >Düzenle</a>
                                <form
                                  method="post"
                                  action="/user/{{this._id}}/kategorisil"
                                >
                                  <button
                                    class="ml-2 btn btn-sm btn-danger"
                                    type="submit"
                                  >Sil</button>
                                </form>
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  {{/ifeq}}
                  {{#ifeq menu.NativeLang "fr"}}
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Kategori Adı</th>
                          <th scope="col">Düzenle/Sil</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each menu.Kategoriler}}
                          <tr>
                            <th class="mt-auto mb-auto">{{this.Namefr}}</th>
                            <td>
                              <div
                                class="d-flex justify-content-center align-items-center w-25"
                              >
                                <a
                                  class="btn btn-sm btn-danger ml-5"
                                  href="/user/{{this._id}}/kategoriedit"
                                >Düzenle</a>
                                <form
                                  method="post"
                                  action="/user/{{this._id}}/kategorisil"
                                >
                                  <button
                                    class="ml-2 btn btn-sm btn-danger"
                                    type="submit"
                                  >Sil</button>
                                </form>
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  {{/ifeq}}
                  {{#ifeq menu.NativeLang "en"}}
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Kategori Adı</th>
                          <th scope="col">Düzenle/Sil</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each menu.Kategoriler}}
                          <tr>
                            <th class="mt-auto mb-auto">{{this.Nameen}}</th>
                            <td>
                              <div
                                class="d-flex justify-content-center align-items-center w-25"
                              >
                                <a
                                  class="btn btn-sm btn-danger ml-5"
                                  href="/user/{{this._id}}/kategoriedit"
                                >Düzenle</a>
                                <form
                                  method="post"
                                  action="/user/{{this._id}}/kategorisil"
                                >
                                  <button
                                    class="ml-2 btn btn-sm btn-danger"
                                    type="submit"
                                  >Sil</button>
                                </form>
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  {{/ifeq}}
                  {{#ifeq menu.NativeLang "ru"}}
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Kategori Adı</th>
                          <th scope="col">Düzenle/Sil</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each menu.Kategoriler}}
                          <tr>
                            <th class="mt-auto mb-auto">{{this.Nameru}}</th>
                            <td>
                              <div
                                class="d-flex justify-content-center align-items-center w-25"
                              >
                                <a
                                  class="btn btn-sm btn-danger ml-5"
                                  href="/user/{{this._id}}/kategoriedit"
                                >Düzenle</a>
                                <form
                                  method="post"
                                  action="/user/{{this._id}}/kategorisil"
                                >
                                  <button
                                    class="ml-2 btn btn-sm btn-danger"
                                    type="submit"
                                  >Sil</button>
                                </form>
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  {{/ifeq}}
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; QRMenux 2023</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end
            your current session.</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >Cancel</button>
            <a class="btn btn-primary" href="/user/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div class="loading">
      <div
        align="center"
        style="position: absolute; margin-top: 120px; text-align: center; font-size: 18px; font-family: sans-serif; font-weight: 550; color: black;"
      >Çeviriler Yapılıyor...
      </div>
    </div>

    <script>
      function showPreview(event){ if(event.target.files.length > 0){ var src =
      URL.createObjectURL(event.target.files[0]); var preview =
      document.getElementById("file-ip-1-preview"); preview.src = src;
      preview.style.display = "block"; } }
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/js/admin-translate.js"></script>

  </body>

</html>